<!-- app/admin/templates/admin/admin.html -->
{% extends 'base.html' %}

{% block title %}Admin Page{% endblock %}

{% block content %}

    {% include 'flash_msgs.html' %}

    <h1 class="heading">Welcome admin!</h1>

    <!-- <h2>All Users</h2> -->
    <div class="accordion" id="accordionPanelsStayOpenExample">
        {% for user in users %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne{{ user.id }}" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne{{ user.id }}">
            <strong># {{ loop.index }}. {{ user.fullname }}</strong> 
            </button>
          </h2>

          <div id="panelsStayOpen-collapseOne{{ user.id }}" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p class="card-text">
                    <strong>Username:</strong> <code>{{ user.username }}</code>
                    <br>
                    <strong>Email:</strong> <code>{{ user.email }}</code>
                    <br>
                    <strong>Admin:</strong> <code>{{ user.is_admin }}</code>
                    <br>
                    <strong>Date Joined:</strong> <code>{{ convert_utc_to_ist_str(user.date_joined) }}</code>
                    <br>
                    <!-- TODO: Remove the following -->
                    <strong>Journal Entries:</strong>
                            {{ user.journal_entries }}
                </p>


                <!-- Start of Delete user btn logic -->

                {% if user.id == current_user.id or user.email == indrajit %}
                <button type="button" class="btn btn-danger btn-sm" disabled>Delete User</button>
                {% else %}

                    <button type="button" class="btn btn-danger me-md-2 btn-sm" data-bs-toggle="modal" data-bs-target="#userDelBtn{{ user.id }}">
                      Delete User
                    </button>
                
                    <!-- Delete Modal -->
                    <div class="modal fade" id="userDelBtn{{ user.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="userDelBtnLabel{{ user.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                        
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="userDelBtnLabel{{ user.id }}">Delete '{{ user.fullname }}' ?</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                        
                            <div class="modal-body">
                              Ensure that you are certain about deleting the user before proceeding.
                            </div>
                        
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                              
                              <form method="post" action="{{ url_for('admin.delete_user') }}">
                                <input type="hidden" name="user_id" value="{{ user.id }}">
                                <button type="submit" class="btn btn-danger btn-sm">Delete User</button>
                              </form> 

                            </div>
                        
                          </div>
                        </div>
                    </div>
                
                {% endif %}
                
                <!-- End of Delete user btn logic -->

                <br><br>
                <p class="card-text"><small class="text-body-secondary">Last updated: {{ convert_utc_to_ist_str(user.last_updated) }}</small></p>

            </div>
          </div>
        </div>
        {% endfor %}

    </div>

{% endblock %}
