{% extends 'base.html' %}

{% block title %}Admin Page{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4">Admin Dashboard</h1>
    {% include 'flash_msgs.html' %}

    <div class="accordion" id="accordionPanelsStayOpenExample">
        {% for user in users %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ user.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ user.id }}" aria-expanded="false" aria-controls="collapse{{ user.id }}">
                    {{ user.fullname }}
                </button>
            </h2>
            <div id="collapse{{ user.id }}" class="accordion-collapse collapse"
                aria-labelledby="heading{{ user.id }}" data-bs-parent="#accordionPanelsStayOpenExample">
                <div class="accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Username:</strong> {{ user.username }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                        <li class="list-group-item"><strong>Number of Journals Created:</strong> {{ user.journal_entries|length }}</li>
                        <li class="list-group-item"><strong>Number of Tags Created:</strong> {{ user.tags|length }}</li>
                        <li class="list-group-item"><strong>Admin:</strong> {% if user.is_admin %} Yes {% else %} No {% endif %}</li>
                        <li class="list-group-item"><strong>Email Verified:</strong> {% if user.email_verified %} Yes {% else %} No {% endif %}</li>
                        <li class="list-group-item"><strong>Date Joined:</strong> {{ convert_utc_to_ist_str(user.date_joined) }}</li>
                        <li class="list-group-item"><strong>Last Seen:</strong> {{ convert_utc_to_ist_str(user.last_seen) }}</li>
                        <!-- Add more user attributes here -->
                    </ul>
                    <hr>
                    <!-- Delete User Button -->
                    {% if user.id != current_user.id and user.email != 'indrajit' %}
                    <form method="post" action="{{ url_for('admin.delete_user') }}">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal{{ user.id }}">
                            Delete User
                        </button>
                        <div class="modal fade" id="deleteUserModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel{{ user.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteUserModalLabel{{ user.id }}">Delete User</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete user {{ user.fullname }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
