<!-- app/auth/templates/_user_journal_entries.html -->

{% for entry in user_journal_entries %}
<div class="card border-secotext-secondary mb-3" id="entry-card-{{ entry.id }}">

    <div class="card-header text-secondary">
        <h5 class="card-title mb-0">
            {% if entry.locked %}
            <a href="#" class="icon-link icon-link-hover text-danger me-2" data-bs-toggle="modal"
                data-bs-target="#unlockEntryModal{{ entry.id }}"><i class="bi bi-lock-fill"></i></a>
            {% if session.get('entries_unlocked') %}
            {{ decrypt(entry.title, private_key) }}
            {% else %}
            This entry is Locked!
            {% endif %}
            {% else %}
            <!-- Lock icon for `locked` attribute -->
            <a href="#" class="icon-link icon-link-hover text-success me-2" data-bs-toggle="modal"
                data-bs-target="#lockEntryModal{{ entry.id }}"><i class="bi bi-unlock-fill"></i></a>

            {{ decrypt(entry.title, private_key)[:60] }}...

            {% endif %}
        </h5>
    </div>

    <div class="card-body text-secondary">
        {% if entry.locked and not session.get('entries_unlocked') %}
        <p class="card-text">This entry is locked. Click on the lock icon to unlock it.</p>
        {% else %}
        <p class="card-text">{{ decrypt(entry.content, private_key)[:100] }}...</p>
        {% endif %}

        {% if not entry.locked or session.get('entries_unlocked') %}
        <div class="tags mt-2">
            {% for tag in entry.tags %}
            <a href="{{ url_for('auth.get_journal_entries_by_tag', user_id=current_user.id, tag_id=tag.id) }}" style="text-decoration: none;">
                <span class="badge badge-sm mr-1" data-color="{{ tag.color_hex() }}">{{ tag.name }}</span>
            </a>            
            {% endfor %}
        </div>

        <div class="mt-3">
            <a href="{{ url_for('auth.view_entry', entry_id=entry.id) }}"
                class="icon-link icon-link-hover text-secondary me-2">
                <i class="bi bi-eye-fill"></i> View
            </a>

            <!-- Trigger for delete entry -->
            <a href="#" class="icon-link icon-link-hover text-danger me-2" data-bs-toggle="modal"
                data-bs-target="#delEntryModal{{ entry.id }}">
                <i class="bi bi-trash3"></i> Delete
            </a>

            <!-- Heart icon for favorite -->
            {% if entry.favourite %}
            <form id="favoriteForm{{ entry.id }}" action="{{ url_for('auth.toggle_entry_favourite') }}" method="post"
                class="d-inline">
                <input type="hidden" name="journal_entry_id" value="{{ entry.id }}">
                <input type="hidden" name="destination" value="{{ redirect_destination }}">
                <button type="button" class="btn btn-link text-secondary" onclick="submitForm('{{ entry.id }}')">
                    <i class="bi bi-heart-fill"></i>
                </button>
            </form>
            {% else %}
            <form id="favoriteForm{{ entry.id }}" action="{{ url_for('auth.toggle_entry_favourite') }}" method="post"
                class="d-inline">
                <input type="hidden" name="journal_entry_id" value="{{ entry.id }}">
                <input type="hidden" name="destination" value="{{ redirect_destination }}">
                <button type="button" class="btn btn-link text-secondary" onclick="submitForm('{{ entry.id }}')">
                    <i class="bi bi-heart"></i>
                </button>
            </form>
            {% endif %}
            <!-- End of favourite icon -->
        </div>

        {% endif %}
    </div>

    <div class="card-footer text-muted">
        Last updated: {{ convert_utc_to_ist_str(entry.last_updated) }}
        {% if entry.locked %}
        {% if session.get('entries_unlocked') == True %}
        <a href="#" class="text-success ms-2" data-bs-toggle="modal" data-bs-target="#lockModal"><i
                class="bi bi-unlock-fill"></i> Lock</a>
        {% else %}
        <a href="#" class="text-danger ms-2" data-bs-toggle="modal" data-bs-target="#unlockModal"><i
                class="bi bi-lock-fill"></i> Unlock</a>
        {% endif %}
        {% endif %}
    </div>
</div>

<!-- Toggle Entry lock Modal -->
<div class="modal fade" id="lockEntryModal{{ entry.id }}" tabindex="-1"
    aria-labelledby="lockEntryModalLabel{{ entry.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lockEntryModalLabel{{ entry.id }}">Lock this entry ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action will lock the Journal Entry with the title:
                    <br>
                    <code>{{ decrypt(entry.title, private_key) }}</code>
                </p>
                <form id="lock-entry-form-{{ entry.id }}" method="post"
                    action="{{ url_for('auth.toggle_entry_lock') }}">
                    <div class="mb-3">
                        <label for="password" class="form-label">Please enter your password to confirm.</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <input type="hidden" name="journal_entry_id" value="{{ entry.id }}">
                    <input type="hidden" name="destination" value="{{ redirect_destination }}">
                    <button id="lockEntryBtn{{ entry.id }}" type="submit" class="btn btn-primary btn-sm">Lock</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Toggle Entry unlock Modal -->
<div class="modal fade" id="unlockEntryModal{{ entry.id }}" tabindex="-1"
    aria-labelledby="unlockEntryModalLabel{{ entry.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unlockEntryModalLabel{{ entry.id }}">Unlock this entry ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action will unlock the Journal Entry with the title:
                    <br>
                    <code>{{ decrypt(entry.title, private_key) }}</code>
                </p>
                <form id="lock-entry-form-{{ entry.id }}" method="post"
                    action="{{ url_for('auth.toggle_entry_lock') }}">
                    <div class="mb-3">
                        <label for="password" class="form-label">Please enter your password to confirm.</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <input type="hidden" name="journal_entry_id" value="{{ entry.id }}">
                    <input type="hidden" name="destination" value="{{ redirect_destination }}">
                    <button id="lockEntryBtn{{ entry.id }}" type="submit" class="btn btn-primary btn-sm">Unlock</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Entry Modal -->
<div class="modal fade" id="delEntryModal{{ entry.id }}" tabindex="-1"
    aria-labelledby="delEntryModalLabel{{ entry.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delEntryModalLabel{{ entry.id }}">Delete entry ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action will delete the Journal Entry with the title:
                    <br>
                    <code>{{ decrypt(entry.title, private_key) }}</code>
                </p>
                <form id="delete-form-{{ entry.id }}" method="post"
                    action="{{ url_for('auth.delete_entry', destination=redirect_destination) }}">
                    <div class="mb-3">
                        <label for="password" class="form-label">Please enter your password to confirm.</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <input type="hidden" name="journal_entry_id" value="{{ entry.id }}">
                    <button id="delBtn{{ entry.id }}" type="submit" class="btn btn-primary btn-sm">Delete</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<!-- Pagination links -->
{% if pagination['has_prev'] %}
    <a href="{{ url_for('auth.user_journal_entries', user_id=current_user.id, page=pagination['prev_num']) }}">Previous</a>
{% endif %}

{% for page_num in pagination['iter_pages'] %}
    {% if page_num %}
        {% if page_num != pagination['page'] %}
            <a href="{{ url_for('auth.user_journal_entries', user_id=current_user.id, page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <strong>{{ page_num }}</strong>
        {% endif %}
    {% else %}
        ...
    {% endif %}
{% endfor %}

{% if pagination['has_next'] %}
    <a href="{{ url_for('auth.user_journal_entries', user_id=current_user.id, page=pagination['next_num']) }}">Next</a>
{% endif %}

<!-- Unlock Modal -->
<div class="modal fade" id="unlockModal" tabindex="-1" aria-labelledby="unlockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unlockModalLabel">Unlock Entries</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action will unlock all locked entries. Please enter your password to confirm.</p>
                <form method="post" action="{{ url_for('auth.unlock_entries', destination=redirect_destination) }}">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <input type="hidden" name="unlock_all" value="true">
                    <button type="submit" class="btn btn-primary btn-sm">Unlock Entries</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Lock Modal -->
<div class="modal fade" id="lockModal" tabindex="-1" aria-labelledby="lockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lockModalLabel">Lock Entries</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action will lock all unlocked entries. Please enter your password to confirm.</p>
                <form method="post" action="{{ url_for('auth.lock_entries', destination=redirect_destination) }}">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <input type="hidden" name="lock_all" value="true">
                    <button type="submit" class="btn btn-primary btn-sm">Lock Entries</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .text-muted {
        font-size: 0.85rem;
    }
</style>

<script>
    function submitForm(entryId) {
        var form = document.getElementById("favoriteForm" + entryId);
        form.submit();
    }
</script>