<!-- app/auth/templates/add_entry.html -->
{% extends "base.html" %}

{% block title %}Add Entry ({{ current_user.username }}){% endblock %}

{% block content %}
{% include 'flash_msgs.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4">Add New Journal Entry</h1>
            <br>
            <form method="post" action="{{ url_for('auth.add_entry', user_id=current_user.id) }}">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.title(class="form-control", required=true, placeholder="Give a title. E.g., My Awesome Journal Entry") }}
                </div>
                <div class="mb-3">
                    {{ form.content(class="form-control", required=true, rows=9, placeholder="Write the content here. E.g., Today I did something amazing...") }}
                </div>
                <div class="mb-3">
                    {{ form.tags(class="form-control", placeholder="Tags (separate with commas)")}}
                    

                    <!-- Dropdown menu for user_tags -->
                    <div class="col-auto">
                        <select id="usertagsDropdown" class="form-control" multiple onchange="updateUserTags()">
                            <option value="" selected disabled>Select your tags</option>
                            {% for tag in user_tags %}
                                <option value="{{ tag.name }}" data-color="{{ tag.color_hex() }}">
                                    {{ tag.name }}
                                </option>
                            {% endfor %}
                        </select>
                        
                        
                    </div>
                </div>
                <div class="mb-3 form-check">
                    {{ form.locked(class="form-check-input") }}
                    <label class="form-check-label" for="locked">Locked</label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-database-fill-add"></i> Add</button>
                        <a href="{{ url_for('auth.dashboard') }}" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function updateUserTags() {
        var tagsField = document.getElementById('tags');
        var usertagsDropdown = document.getElementById('usertagsDropdown');
        
        if (usertagsDropdown.value === 'selectAll') {
            // Select All option selected, set recipients to all user emails
            var allTags = Array.from(usertagsDropdown.options).slice(2).map(option => option.value).join(', ');
            tagsField.value = allTags;
        } else {
            // Single tag selected, append the tag to the tags field
            var currentTags = tagsField.value;
            var selectedUserTag = usertagsDropdown.value;

            // Check if the tag is not already in the list before appending
            if (!currentTags.includes(selectedUserTag)) {
                if (currentTags) {
                    tagsField.value = currentTags + ', ' + selectedUserTag;
                } else {
                    tagsField.value = selectedUserTag;
                }
            }
        }
    }
</script>


<script>
    $(document).ready(function() {
        $('#usertagsDropdown').select2({
            templateResult: function(option) {
                if (!option.id) { return option.text; }
                return $('<span><span class="badge badge-sm mr-1" style="background-color:' + $(option.element).data('color') + '">' + option.text + '</span></span>');
            }
        });
    });
</script>


{% endblock %}
