<!-- app/auth/templates/add_entry.html -->
{% extends "base.html" %}

{% block title %}Add Entry ({{ current_user.username }}){% endblock %}

{% block content %}
{% include 'flash_msgs.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-4">Add New Journal Entry</h1>
            <br>
            <form method="post" action="{{ url_for('auth.add_entry', user_id=current_user.id) }}">
                {{ form.csrf_token }}
                <div class="mb-3">
                    {{ form.title(class="form-control", required=true, placeholder="Give a title. E.g., My Awesome Journal Entry") }}
                </div>
                <div class="mb-3">
                    {{ form.content(class="form-control", required=true, rows=15, placeholder="Write the content here. E.g., Today I did something amazing...") }}
                </div>
                <div class="mb-3">
                    {{ form.tags(class="form-control", id="tags", placeholder="Tags (separate with commas)")}}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#tagModal">
                        <i class="bi bi-tags"></i> Select Tags
                    </button>
                </div>
                <div class="mb-3 form-check">
                    {{ form.locked(class="form-check-input") }}
                    <label class="form-check-label" for="locked">Locked (Check if you want to Lock the entry)</label>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-database-fill-add"></i> Add</button>
                        <a class="btn btn-secondary" onclick="goBack()"><i class="bi bi-arrow-left"></i> Go Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tagModalLabel">Select from your saved Tags</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Dropdown menu for user_tags -->
                <select id="usertagsDropdown" class="form-select" size="10" multiple onchange="updateUserTags()">
                    
                    {% for tag in user_tags %}
                        <option value="{{ decrypt(tag.name, private_key) }}" data-color="{{ tag.color_hex() }}">
                            {{ decrypt(tag.name, private_key) }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addSelectedTags()">Add Tags</button>
            </div>
        </div>
    </div>
</div>

<script>
    function addSelectedTags() {
        var selectedTags = $('#usertagsDropdown').val();
        var tagsField = $('#tags');
        var currentTags = tagsField.val().split(',').map(tag => tag.trim());
        selectedTags.forEach(tag => {
            if (!currentTags.includes(tag)) {
                currentTags.push(tag);
            }
        });
        tagsField.val(currentTags.join(', '));
        $('#tagModal').modal('hide');
    }
</script>


<script>
    function updateUserTags() {
        var tagsField = document.getElementById('tags');
        var usertagsDropdown = document.getElementById('usertagsDropdown');
        
        // Single tag selected, append the tag to the tags field
        var currentTags = tagsField.value;
            var selectedUserTag = usertagsDropdown.value;

        // Check if the tag is not already in the list before appending
        if (!currentTags.includes(selectedUserTag)) {
            if (currentTags) {
                tagsField.value = currentTags + ', ' + selectedUserTag;
            } else {
                tagsField.value = selectedUserTag;
            }
        }
    }
</script>

{{ ckeditor.load() }}
{{ ckeditor.config(name='content', custom_config="height: '400px'") }}

<script>
    CKEDITOR.addCss(".cke_editable{font-size: 18px;}");
</script>

{% endblock %}