<!-- 
  app/auth/templates/auth/dashboard.html 
  Author: Indrajit Ghosh
  Created On: Feb 02, 2024
  Modified On: Mar 29, 2024
-->
{% extends "base.html" %}

{% block title %}Dashboard ({{ current_user.username }}){% endblock %}

{% block content %}
{% include 'flash_msgs.html' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 order-md-2">
            <h1 class="display-4">Welcome, {{ user.username }}</h1>
            <p class="lead">We're glad to see you here! This is your dashboard where you can manage your journal entries
                and tags.</p>
            <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center mb-3">
                <div class="mb-2 mb-md-0">
                    <a href="{{ url_for('auth.add_entry', user_id=user.id) }}" class="btn btn-primary btn-sm me-2"><i
                            class="bi bi-database-fill-add"></i> Add Entry</a>
                    <a href="{{ url_for('auth.create_tag', user_id=user.id) }}" class="btn btn-primary btn-sm me-2"><i class="bi bi-pencil-fill"></i> Create Tag</a>
                </div>
                {% if onthis_day_journal %}
                <div class="mb-2 mb-md-0">
                    <a href="#memories" class="btn btn-info btn-sm"><i class="bi bi-calendar-date"></i> Memories</a>
                </div>
                {% endif %}
            </div>


            <hr>
            <br>

            <!-- Recent Journal Entries -->
            {% if user_journal_entries %}
            <div class="row">
                <div class="col-md">
                    <div class="card shadow">
                        <div
                            class="card-header bg-primary text-white d-flex flex-wrap justify-content-between align-items-center">
                            <h3 class="card-title mb-0 me-md-3">Your Recent Journal Entries <i class="bi bi-journal-text"></i></h3>
                            <a href="{{ url_for('auth.user_journal_entries', user_id=user.id) }}"
                                class="alert-link ms-md-auto"><i class="bi bi-eye-fill"></i> View all</a>
                        </div>
                        <div class="card-body">
                            {% include '_user_journal_entries.html' %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning" role="alert">
                You have no journal entries yet. <a href="{{ url_for('auth.add_entry', user_id=user.id) }}" class="btn-link"><i class="bi bi-pencil-fill"></i> Create
                    one now!</a>
            </div>
            {% endif %}

            <!-- Add some space after recent journal entries -->
            <div style="margin-bottom: 40px;"></div>
        </div>

        <div class="col-md-4 order-md-1">
            <!-- User Information -->
            <div class="card mb-3 text-bg-warning">
                <div class="card-header">
                    <h5 class="card-title">Your Information <i class="bi bi-person"></i></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Fullname: {{ user.fullname }}</p>
                    <p class="card-text">Email: {{ user.email }}</p>
                    <p class="card-text">Joined: {{ convert_utc_to_ist_str(user.date_joined) }}</p>
                    {% if user.is_admin %}
                    <p class="card-text">Role: Admin</p>
                    {% else %}
                    <p class="card-text">Role: User</p>
                    {% endif %}
                    <a href="{{ url_for('auth.profile') }}" class="btn-link"><i class="bi bi-person-lines-fill"></i>
                        Go to Profile</a>
                </div>
            </div>

            <!-- User Tags -->
            <div class="card text-bg-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title">Your Tags <i class="bi bi-tags"></i></h5>
                </div>
                <div class="card-body">
                    <div class="tags">
                        {% if user.tags %}
                        {% for tag in user.tags %}
                        <span class="badge badge-sm mr-1" data-color="{{ tag.color_hex() }}">{{ tag.name }}</span>
                        {% endfor %}
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                            You have no tags yet. <a href="{{ url_for('auth.create_tag', user_id=current_user.id) }}" class="alert-link"><i class="bi bi-pencil-fill"></i>
                                Create one now!</a>
                        </div>
                        {% endif %}
                    </div>
                    <br>
                    <a href="{{ url_for('auth.manage_tags', user_id=user.id) }}" class="btn-link"><i class="bi bi-gear-fill"></i>
                        Manage your tags.</a>
                </div>
            </div>

            <!-- Memories from This Day -->
            <div class="card text-bg-info">
                <div class="card-header">
                    <h5 class="card-title" id="memories">Memories from This Day <i class="bi bi-journal-album"></i></h5>
                </div>
                <div class="card-body">
                    {% if onthis_day_journal %}
                    <div class="list-group">
                        {% for entry in onthis_day_journal %}
                        <a href="#" class="list-group-item list-group-item-action inactive" aria-current="false">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ decrypt(entry.title, private_key) }}</h5>
                                <small>{{ format_years_ago(entry.date_created) }}</small>
                            </div>
                            <p class="mb-1">{{ decrypt(entry.content, private_key)[:50] }}...</p>
                            <small>Last updated: {{ convert_utc_to_ist_str(entry.last_updated, show_time=False)
                                }}</small>
                        </a>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No memories from this day in previous years.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}