{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
{% include 'flash_msgs.html' %}

<div class="form-container">

    <h1 class="heading">Forgot Password</h1>
    <p>Please enter your username or email and the password reset key provided to you.</p>

    <form method="post" action="{{ url_for('auth.forgot_password') }}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username_email" name="username_email" placeholder="name@example.com">
            <label for="username_email">Username or Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwd_reset_key" name="passwd_reset_key" placeholder="Password">
            <label for="passwd_reset_key">Password Reset Key</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="new_passwd" name="new_passwd" placeholder="Enter a password">
            <label for="new_passwd">New Password</label>
        </div>

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirm_passwd" name="confirm_passwd" placeholder="Confirm new password">
            <label for="confirm_passwd">Confirm new password</label>
        </div>

        <button type="submit" id="sendEmailBtn" class="btn btn-primary">Submit</button>
        <span id="sendEmailSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        
    </form>
</div>

<script>
    function toggleSpinner() {
      var spinner = document.getElementById('sendEmailSpinner');
      spinner.classList.toggle('d-none');
    }

    document.getElementById('sendEmailBtn').addEventListener('click', function () {
      // Show spinner before making the request
      toggleSpinner();

      setTimeout(function () {
        toggleSpinner();
      }, 5000); // Adjust the delay as needed
    });

</script>

{% endblock %}