<!-- app/auth/templates/profile.html -->
{% extends "base.html" %}

{% block title %}Profile ({{ current_user.username }}){% endblock %}

{% block styles %}
{{ super() }}
<style>
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  }

  @media (max-width: 768px) {
    .rounded-top.text-white {
      height: auto !important;
    }

    .rounded-top.text-white .ms-3 {
      margin-top: 1rem;
    }

    .card-body.p-4.text-black {
      padding: 2rem !important;
    }
  }
</style>
{% endblock %}

{% block content %}
{% include 'flash_msgs.html' %}
<div class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-column" style="background-color: #000;">
            <div class="ms-4 mt-5 d-flex flex-column align-items-center">
              <a href="https://gravatar.com/" target="_blank">
                <img src="{{ current_user.avatar(200) }}" alt="User Avatar" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px;">
              </a>
              <a data-bs-toggle="modal" data-bs-target="#editProfileModal" class="btn btn-outline-light mt-3"
                data-mdb-ripple-color="dark">
                <i class="bi bi-pencil"></i> Edit Profile
              </a>

            </div>

            <div class="ms-3 mt-3 text-center">
              <h5>{{ current_user.fullname }}</h5>
              <p></p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="row justify-content-between">
              <div class="col-md-4 text-center mb-3 mb-md-0">
                <p class="mb-1 h5">{{ total_journal_entries }}</p>
                <p class="small text-muted mb-0">Journal Entries <i class="bi bi-journal-text"></i></p>
              </div>
              <div class="col-md-4 text-center mb-3 mb-md-0">
                <p class="mb-1 h5">{{ total_tags }}</p>
                <p class="small text-muted mb-0">Tags <i class="bi bi-tags"></i></p>
              </div>
              <div class="col-md-4 text-center">
                <p class="mb-1 h5">{{ total_words_in_journal_entries }}</p>
                <p class="small text-muted mb-0">Word Count <i class="bi bi-bar-chart"></i></p>
              </div>
            </div>
          </div>

          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="fst-italic mb-1">
                  Email: {{ current_user.email }}
                  {% if not current_user.email_verified and current_user.username != 'demo' %}
                      <span class="text-danger">
                          (Please 
                          <a href="{{ url_for('auth.send_verification_email') }}" onclick="showVerificationSpinner()">
                              click here
                              <i id="verification-spinner" class="spinner-border spinner-border-sm d-none"></i>
                          </a> 
                          to verify your email address)
                      </span>
                  {% endif %}
              </p>
                <p class="fst-italic mb-1">Username: {{ current_user.username }}</p>
                <p class="fst-italic mb-1">Date Joined: {{ current_user.date_joined.strftime("%B %d, %Y") }}</p>
                {% if current_user.is_admin %}
                <p class="fst-italic mb-1"><code>You are an admin!</code></p>
                {% endif %}
              </div>

              <br>

              <!-- Import and Export Data Links -->
              <p class="lead fw-normal mb-1">Data Management</p>
              <div class="p-4" style="background-color: #f8f9fa;">

                <div class="row">
                  <div class="col">
                    <a href="{{ url_for('auth.import_data') }}" class="btn btn-primary btn-sm btn-block mb-2">
                      <i class="bi bi-upload"></i> Import Data
                    </a>
                  </div>
                  <div class="col">
                    <form id="exportForm" action="{{ url_for('auth.export_data') }}" method="post">
                      <button type="submit" class="btn btn-primary btn-sm btn-block" id="export-data-btn">
                        <i class="bi bi-download"></i> Export Data
                        <span id="export-spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                      </button>
                    </form>
                  </div>
                </div>

              </div>

              <br>

              <!-- Change your password! -->
              <p class="lead fw-normal mb-1">Password Management</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <a data-bs-toggle="modal" data-bs-target="#changePasswdModal"
                  class="btn btn-warning btn-sm mb-2 mb-md-0">
                  <i class="bi bi-key"></i> Change Password
                </a>
              </div>


              <br>

              <div class="d-flex flex-wrap justify-content-between align-items-cenbrter mb-4">
                <p class="lead fw-normal mb-0 me-md-3">Recent journal entries</p>
                <p class="mb-0"><a href="{{ url_for('auth.user_journal_entries', user_id=user.id) }}"
                    class="text-muted"><i class="bi bi-eye-fill"></i> Show all</a></p>
              </div>


              <div class="row g-2">
                {% if user_journal_entries %}
                {% include '_preview_journal_entries.html' %}
                {% else %}
                <div class="alert alert-warning" role="alert">
                  You have no journal entries yet. <a href="{{ url_for('auth.add_entry', user_id=user.id) }}"
                    class="alert-link"><i class="bi bi-pencil-fill"></i> Create
                    one now!</a>
                </div>
                {% endif %}
              </div>

              <!-- editProfileModal start -->
              <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editProfileModalLabel">Update Your Details</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Please edit the fields you want to change. Leave the fields you don't want to change as they
                        are.</p>
                      <form id="edit-profile" method="post" action="{{ url_for('auth.update_profile') }}">
                        <div class="mb-3">
                          <label for="fullname" class="form-label"><code>Fullname</code></label>
                          <input type="text" class="form-control" id="fullname" name="fullname"
                            placeholder="Keep the same or enter new fullname" value="{{ current_user.fullname }}"
                            required>

                          <label for="username" class="form-label"><code>Username</code></label>
                          <input type="text" class="form-control" id="username" name="username"
                            placeholder="Keep the same or enter new username" value="{{ current_user.username }}"
                            required>

                          <label for="email" class="form-label"><code>Email</code></label>
                          <input type="email" class="form-control" id="email" name="email"
                            placeholder="Keep the same or enter new email" value="{{ current_user.email }}" required>

                          <div class="mb-3">
                            <label for="password" class="form-label">Please enter your password to confirm.</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                          </div>
                          <input type="hidden" name="user_id" value="{{ current_user.id }}">
                          <button id="updateProfileBtn" type="submit" class="btn btn-primary btn-sm">Update</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of modal -->


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- changePasswd modal start -->
  <div class="modal fade" id="changePasswdModal" tabindex="-1" aria-labelledby="changePasswdModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changePasswdModalLabel">Change your password</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Information about strong encryption and password importance -->
          <div class="alert alert-info" role="alert">
            <strong>Important:</strong> Your journal entries are securely encrypted using a strong encryption algorithm.
            Changing your password will generate a new encryption key. Make sure to remember your new password. Losing
            it
            will make it impossible to decrypt your journal entries.
          </div>

          <!-- Change password form -->
          <form id="change-passwd" method="post" action="{{ url_for('auth.change_password') }}">
            <div class="mb-3">
              <label for="new_passwd" class="form-label"><code>New Password</code></label>
              <input type="password" class="form-control" id="new_passwd" name="new_passwd"
                placeholder="Enter your new password here. Keep it strong!" value="" required>

              <label for="confirm_passwd" class="form-label"><code>Confirm the new password</code></label>
              <input type="password" class="form-control" id="confirm_passwd" name="confirm_passwd"
                placeholder="Re-enter the new password ..." value="" required>

              <div class="mb-3">
                <label for="old_passwd" class="form-label">Please enter your old password to confirm.</label>
                <input type="password" class="form-control" id="old_passwd" name="old_passwd" required>
              </div>
              <input type="hidden" name="user_id" value="{{ current_user.id }}">
              <button type="submit" class="btn btn-primary btn-sm" id="change-passwd-btn">
                Change
                <span id="changePasswdSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              </button>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of changePasswd modal -->


  <script>
    // Function to toggle the spinner
    function toggleChangePasswdSpinner() {
      var spinner = document.getElementById('changePasswdSpinner');
      spinner.classList.toggle('d-none');
    }

    document.getElementById('change-passwd-btn').addEventListener('click', function () {
    // Show spinner before making the request
    toggleChangePasswdSpinner();

    setTimeout(function () {
      toggleChangePasswdSpinner();
    }, 5000); // Adjust the delay as needed
  });
  </script>

<script>
  function toggleExportSpinner() {
    var spinner = document.getElementById('export-spinner');
    spinner.classList.toggle('d-none');
  }

  document.getElementById('export-data-btn').addEventListener('click', function () {
    // Show spinner before making the request
    toggleExportSpinner();

    setTimeout(function () {
      toggleExportSpinner();
    }, 5000); // Adjust the delay as needed
  });

</script>

<script>
  function showVerificationSpinner() {
      document.getElementById('verification-spinner').classList.remove('d-none');
  }
</script>


  {% endblock %}