<!-- app/auth/templates/profile.html -->
{% extends "base.html" %}

{% block title %}Profile ({{ current_user.username }}){% endblock %}

{% block styles %}
{{ super() }}
<style>
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  }

  @media (max-width: 768px) {
    .rounded-top.text-white {
      height: auto !important;
    }

    .rounded-top.text-white .ms-3 {
      margin-top: 1rem;
    }

    .card-body.p-4.text-black {
      padding: 2rem !important;
    }
  }
</style>
{% endblock %}

{% block content %}
{% include 'flash_msgs.html' %}
<div class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-column" style="background-color: #000;">
            <div class="ms-4 mt-5 d-flex flex-column align-items-center">
              <img src="{{ current_user.avatar(200) }}" alt="User Avatar" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px;">
              <a data-bs-toggle="modal" data-bs-target="#editProfileModal" class="btn btn-outline-light mt-3"
                data-mdb-ripple-color="dark">
                <i class="bi bi-pencil"></i> Edit Profile
              </a>

            </div>
            <div class="ms-3 mt-3 text-center">
              <h5>{{ current_user.fullname }}</h5>
              <p></p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="row justify-content-between">
              <div class="col-md-4 text-center mb-3 mb-md-0">
                <p class="mb-1 h5">{{ total_journal_entries }}</p>
                <p class="small text-muted mb-0">Journal Entries <i class="bi bi-journal-text"></i></p>
              </div>
              <div class="col-md-4 text-center mb-3 mb-md-0">
                <p class="mb-1 h5">{{ total_tags }}</p>
                <p class="small text-muted mb-0">Tags <i class="bi bi-tags"></i></p>
              </div>
              <div class="col-md-4 text-center">
                <p class="mb-1 h5">{{ total_words_in_journal_entries }}</p>
                <p class="small text-muted mb-0">Word Count <i class="bi bi-bar-chart"></i></p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="fst-italic mb-1">Email: {{ current_user.email }} 
                    {% if not current_user.email_verified %}
                        <span class="text-danger">(Please <a href="{{ url_for('auth.send_verification_email') }}">click here</a> to verify your email address)</span>
                    {% endif %}
                </p>
                <p class="fst-italic mb-1">Username: {{ current_user.username }}</p>
                <p class="fst-italic mb-1">Date Joined: {{ current_user.date_joined.strftime("%B %d, %Y") }}</p>
                {% if current_user.is_admin %}
                    <p class="fst-italic mb-1"><code>You are an admin!</code></p>
                {% endif %}
            </div>

              <br>

              <!-- Import and Export Data Links -->
              <p class="lead fw-normal mb-1">Data Management</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="card-text">Manage your data with these options:</p>

                <div class="row">
                  <div class="col">
                    <a href="{{ url_for('auth.import_data') }}" class="btn btn-primary btn-sm btn-block mb-2">
                      <i class="bi bi-upload"></i> Import Data
                    </a>
                  </div>
                  <div class="col">
                    <form id="exportForm" action="{{ url_for('auth.export_data') }}" method="post"
                      onsubmit="reloadAfterDownload()">
                      <button type="submit" class="btn btn-primary btn-sm btn-block">
                        <i class="bi bi-download"></i> Export Data
                      </button>
                    </form>
                  </div>
                </div>

              </div>

              <br>

              <div class="d-flex flex-wrap justify-content-between align-items-cenbrter mb-4">
                <p class="lead fw-normal mb-0 me-md-3">Recent journal entries</p>
                <p class="mb-0"><a href="{{ url_for('auth.user_journal_entries', user_id=user.id) }}"
                    class="text-muted"><i class="bi bi-eye-fill"></i> Show all</a></p>
              </div>


              <div class="row g-2">
                {% if user_journal_entries %}
                {% include '_user_journal_entries.html' %}
                {% else %}
                <div class="alert alert-warning" role="alert">
                  You have no journal entries yet. <a href="{{ url_for('auth.add_entry', user_id=user.id) }}"
                    class="alert-link"><i class="bi bi-pencil-fill"></i> Create
                    one now!</a>
                </div>
                {% endif %}
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- editProfileModal start -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="editProfileModalLabel">Update Your Details</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Please edit the fields you want to change. Leave the fields you don't want to change as they are.</p>
      <form id="edit-profile" method="post" action="{{ url_for('auth.update_profile') }}">
        <div class="mb-3">
          <label for="fullname" class="form-label"><code>Fullname</code></label>
          <input type="text" class="form-control" id="fullname" name="fullname"
            placeholder="Keep the same or enter new fullname" value="{{ current_user.fullname }}" required>

          <label for="username" class="form-label"><code>Username</code></label>
          <input type="text" class="form-control" id="username" name="username"
            placeholder="Keep the same or enter new username" value="{{ current_user.username }}" required>

          <label for="email" class="form-label"><code>Email</code></label>
          <input type="email" class="form-control" id="email" name="email"
            placeholder="Keep the same or enter new email" value="{{ current_user.email }}" required>

          <div class="mb-3">
            <label for="password" class="form-label">Please enter your password to confirm.</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <input type="hidden" name="user_id" value="{{ current_user.id }}">
          <button id="updateProfileBtn" type="submit" class="btn btn-primary btn-sm">Update</button>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
<!-- End of modal -->



  <script>
    function reloadAfterDownload() {
      setTimeout(() => {
        window.location.reload();
      }, 1000); // Adjust the timeout as needed
    }
  </script>

  {% endblock %}