{% extends "base.html" %}

{% block title %}Search ({{ current_user.username }}){% endblock %}

{% block content %}
{% include 'flash_msgs.html' %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="{{ url_for('auth.search', user_id=current_user.id) }}" method="POST" class="input-group">
                <div class="hide-on-mobile">
                    <span class="input-group-text mindcanvas-text">MindCanvas</span>
                </div>
                <input type="text" name="q" class="form-control" placeholder="{{ query }}" aria-label="Search">
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>

    <br>

    {% if user_journal_entries %}
    <div class="card-body">
        {% include '_user_journal_entries.html' %}
    </div>
    {% else %}
    <!-- Display a message if search results are empty -->
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <p class="text-center">No matching entries found.</p>
        </div>
    </div>
    {% endif %}
</div>

<style>
    /* Custom styles for the MindCanvas app name */
    .mindcanvas-text {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #007bff;
        /* Blue color, you can adjust as needed */
        letter-spacing: 1px;
        /* Add letter spacing for better readability */
    }
</style>


{% endblock %}
