<!-- 
  app/auth/templates/auth/user_all_entries.html 
  Author: Indrajit Ghosh
  Created On: Mar 30, 2024
-->
{% extends "base.html" %}

{% block title %}All Entries ({{ current_user.username }}){% endblock %}

{% block content %}
{% include 'flash_msgs.html' %}

{% if user_journal_entries %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h3 class="card-title mb-0">Journal Stats <i class="bi bi-bar-chart-line-fill"></i></h3>
          <a href="{{ url_for('auth.dashboard') }}" class="icon-link icon-link-hover text-light me-2"><i
              class="bi bi-house-door-fill"></i> Dashboard</a>
          <a href="{{ url_for('auth.profile') }}" class="icon-link icon-link-hover text-light"><i
              class="bi bi-person-circle"></i> Profile</a>

        </div>
        <div class="card-body">
          <div class="row justify-content-between">
            <div class="col-md-4 text-center mb-3 mb-md-0">
              <p class="mb-1 h5">{{ total_journal_entries }}</p>
              <p class="small text-muted mb-0">Journal Entries <i class="bi bi-journal-text"></i></p>
            </div>
            <div class="col-md-4 text-center mb-3 mb-md-0">
              <p class="mb-1 h5">{{ total_tags }}</p>
              <p class="small text-muted mb-0">Tags <i class="bi bi-tags"></i></p>
            </div>
            <div class="col-md-4 text-center">
              <p class="mb-1 h5">{{ total_words_in_journal_entries }}</p>
              <p class="small text-muted mb-0">Word Count <i class="bi bi-bar-chart"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h3 class="card-title mb-0">Your Journal Entries <i class="bi bi-journal-text"></i></h3>
          <a href="{{ url_for('auth.add_entry', user_id=current_user.id) }}" class="icon-link icon-link-hover text-light me-2"><i class="bi bi-journal-plus"></i> Create Entry</a>
        </div>
        <div class="card-body">
          {% include '_user_journal_entries.html' %}
        </div>
      </div>
    </div>
  </div>



</div>
{% else %}
<div class="container mt-5">
  <div class="alert alert-warning" role="alert">
    You have no journal entries yet. <a href="{{ url_for('auth.add_entry', user_id=current_user.id) }}"
      class="alert-link"><i class="bi bi-pencil-fill"></i> Create one now!</a>
  </div>
</div>
{% endif %}
{% endblock %}