{% extends "base.html" %}

{% block title %}View Entry{% endblock %}

{% block content %}
{% include 'flash_msgs.html' %}
<div class="container">
    <h1 class="my-4">{{ decrypt(entry.title, private_key) }}</h1>
    <div class="card">
        <div class="card-body">
            <p class="text-muted">Created: {{ convert_utc_to_ist_str(entry.date_created) }}</p>

            {% if not entry.locked or session.get('entries_unlocked') %}

            {{ decrypt(entry.content, private_key) | safe }}

            <div class="tags mt-4 mb-3">
                <div class="tags mt-2">
                    {% for tag in entry.tags %}
                    <a href="{{ url_for('auth.get_journal_entries_by_tag', user_id=current_user.id, tag_id=tag.id) }}"
                        style="text-decoration: none;">
                        <span class="badge badge-sm mr-1" data-color="{{ tag.color_hex() }}">{{ decrypt(tag.name, private_key) }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <hr>
            <p class="text-muted">Last Updated: {{ convert_utc_to_ist_str(entry.last_updated) }}</p>

            <div class="mt-4">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#editEntryModal{{ entry.id }}"><i class="bi bi-pencil-fill"></i> Edit</a>
                <a href="#" class="btn btn-danger ms-2" data-bs-toggle="modal"
                    data-bs-target="#delEntryModal{{ entry.id }}"><i class="bi bi-trash3"></i> Delete</a>
                <button class="btn btn-secondary ms-2" onclick="goBack()"><i class="bi bi-arrow-left"></i> Back</button>
            </div>
            {% else %}
            <p class="card-text">This entry is locked. Unlock it from <a
                    href="{{ url_for('auth.user_journal_entries', user_id=current_user.id) }}">here.</a></p>
            {% endif %}

        </div>
    </div>
</div>

<!-- Delete Entry Modal -->
<div class="modal fade" id="delEntryModal{{ entry.id }}" tabindex="-1"
    aria-labelledby="delEntryModalLabel{{ entry.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delEntryModalLabel{{ entry.id }}">Delete entry ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This action will delete the Journal Entry with the title:
                    <br>
                    <code>{{ decrypt(entry.title, private_key) }}</code>
                </p>
                <form id="delete-form-{{ entry.id }}" method="post"
                    action="{{ url_for('auth.delete_entry', destination=redirect_destination) }}">
                    <div class="mb-3">
                        <label for="password" class="form-label">Please enter your password to confirm.</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <input type="hidden" name="journal_entry_id" value="{{ entry.id }}">
                    <button id="delBtn{{ entry.id }}" type="submit" class="btn btn-primary btn-sm">Delete</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Entry Modal -->
<div class="modal fade" id="editEntryModal{{ entry.id }}" tabindex="-1"
    aria-labelledby="editEntryModalLabel{{ entry.id }}" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEntryModalLabel{{ entry.id }}">Update Entry Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-form-{{ entry.id }}" method="post" action="{{ url_for('auth.edit_entry') }}">
                    <div class="mb-3">
                        <label for="title" class="form-label"><code>Title</code></label>
                        <input type="text" class="form-control" id="title" name="title"
                            value="{{ decrypt(entry.title, private_key) }}" required>

                        <label for="content" class="form-label"><code>Content</code></label>
                        <!-- <textarea class="form-control" id="content" name="content" rows="8" required>{{ decrypt(entry.content, private_key) }}</textarea> -->
                        {{ ckeditor.create(value=decrypt(entry.content, private_key), name="content") }}
                        <!-- Checkbox for 'locked' field -->
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" id="locked" name="locked" {% if entry.locked
                                %}checked{% endif %}>
                            <label class="form-check-label" for="locked"><code>Locked</code></label>
                        </div>

                        <label for="tags" class="form-label"><code>Tags</code></label>
                        <input type="tags" class="form-control" id="tags" name="tags"
                            value="{% for tag in entry.tags %}{{ decrypt(tag.name, private_key) }}{% if not loop.last %}, {% endif %}{% endfor %}"
                            required>
                        <!-- Dropdown menu for user_tags -->
                        <div class="col-auto">
                            <select id="entrytagsDropdown" class="form-control" multiple onchange="updateEntryTags()">
                                <option value="" selected disabled>Select your tags</option>
                                {% for tag in user_tags %}
                                <option value="{{ decrypt(tag.name, private_key) }}" data-color="{{ tag.color_hex() }}">
                                    {{ decrypt(tag.name, private_key) }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="journal_entry_id" value="{{ entry.id }}">
                </form>
            </div>
            <div class="modal-footer">
                <button id="editBtn{{ entry.id }}" type="submit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{ ckeditor.load() }}
<script>
    CKEDITOR.addCss(".cke_editable{font-size: 18px;}");
</script>

<style>
    .text-muted {
        font-size: 0.85rem;
    }
</style>

<script>
    // Add event listener to handle form submission when clicking the button
    document.getElementById('editBtn{{ entry.id }}').addEventListener('click', function () {
        // Submit the form
        document.getElementById('edit-form-{{ entry.id }}').submit();
    });
</script>

<script>
    function updateEntryTags() {
        var tagsField = document.getElementById('tags');
        var usertagsDropdown = document.getElementById('entrytagsDropdown');

        // Single tag selected, append the tag to the tags field
        var currentTags = tagsField.value;
        var selectedUserTag = usertagsDropdown.value;

        // Check if the tag is not already in the list before appending
        if (!currentTags.includes(selectedUserTag)) {
            if (currentTags) {
                tagsField.value = currentTags + ', ' + selectedUserTag;
            } else {
                tagsField.value = selectedUserTag;
            }
        }
    }
</script>


<script>
    $(document).ready(function () {
        $('#entrytagsDropdown').select2({
            templateResult: function (option) {
                if (!option.id) { return option.text; }
                return $('<span><span class="badge badge-sm mr-1" style="background-color:' + $(option.element).data('color') + '">' + option.text + '</span></span>');
            }
        });
    });
</script>

{% endblock %}